## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.out
*.toc

## Bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*.run.xml

## Build tool auxiliary files:
*.synctex.gz

## Other files and folders:
